<div id="map" #map></div>

<div class="floating-range p-2">
    <div class="floating-content d-flex align-items-center">
        <button (click)="zoomIn()" class="btn btn-primary"> + </button>

        <input 
        type="range"
        class="form-range px-2"
        min="2"
        max="18"
        (input)="zoomChanged( zoomInput.value )"
        value="currentZoom"
        #zoomInput>

        <button (click)="zoomOut()" class="btn btn-primary"> - </button>
    </div>
    <span class="form-label">
        Zoom: {{ currentZoom | number:'2.2-2' }}
        <br>
        Lng, Lat: Algo
    </span>
</div>